<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>PRINCIPAL MAIN</title>
    <!--Incluimos los iconos y la topología de la letra de nuestra página-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <!--Estilos de las animaciones-->
    <link href="../static/css/styles_animations.css" rel="stylesheet" />
    <!--Estilos de la página-->
    <link href="../static/css/styles_contentpage.css" rel="stylesheet" />
    <link href="../static/css/styles_main.css" rel="stylesheet" />
</head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('interfaceadmin') }}">Proyecto Unidad 3</a>
            <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item mx-0 mx-lg-1">
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--header-->
    <header class="masthead bg-primary text-white text-center">
               
        <table class="table table-dark">
            <thead>
            
              <tr>
                <th scope="col">iD</th>
                <th scope="col">Nombre y Apellido</th>
                <th scope="col">Edad</th>
                <th scope="col">Rol</th>
                <th scope="col">Paralelo</th>
              </tr>
            
            </thead>
            <tbody>
                <h3>
                    {% for personas in personas %}
                    {{personas.Nombre}} {{personas.Apellido}} <br>
                    PARALELO {{personas.Paralelo}}
                    {% endfor %}
                </h3>
                {% for estudiantes in estudiantes %}
              <tr>
                <th scope="row">{{estudiantes._id}}</th>
                <td>{{estudiantes.Nombre}} {{estudiantes.Apellido}}</td>
                <td>{{estudiantes.Edad}}</td>
                <td>{{estudiantes.Rol}}</td>
                <td>{{estudiantes.Paralelo}}</td>
              </tr>
            </tbody>
            {% endfor %}

          </table>
            

            <div class="burbujas">
                <div class="burbuja"></div>
                <div class="burbuja"></div>
                <div class="burbuja"></div>
                <div class="burbuja"></div>
                <div class="burbuja"></div>
                <div class="burbuja"></div>
                <div class="burbuja"></div>
                <div class="burbuja"></div>
                <div class="burbuja"></div>
                <div class="burbuja"></div>
            </div>
        </section>
    </header>
    <br><br><br><br><br><br><br><br><br><br>
    <div class="copyright py-4 text-center text-white">
        <div class="container"><small>Copyright &copy; Sitio Web creado por Steveen Sinchiguano & Julissa Renteria
                2022</small></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>

</html>